.profile-container {
  margin-top: 20px;
}

.profile-image {
  height: 118px;
  width: 118px;
  border-radius: 50% !important;
}

.img-avatar {
  border-radius: 50% !important;
  height: 35px !important;
  width: 35px !important;
}
