.picton-blue {
  fill: #3ACCE1;
}

.dodger-blue {
  fill: #3497FD;
}

.cornflower-blue {
  fill: #665EFF;
}

.medium-purple {
  fill: #C840E9;
}

.wild-strawberry {
  fill: #FF4F9A;
}

.coral {
  fill :#FF9057;
}

.blue {
  fill: var(--blue);
}

.indigo {
  fill: var(--indigo);
}

.purple {
  fill: var(--purple);
}

.pink {
  fill: var(--pink);
}

.red {
  fill: var(--red);
}

.orange {
  fill: var(--orange);
}

.yellow {
  fill: var(--yellow);
}

.green {
  fill: var(--green);
}

.teal {
  fill: var(--teal);
}

.cyan {
  fill: var(--cyan);
}

.white {
  fill: var(--white);
}

.gray {
  fill: var(--gray);
}

.gray-dark {
  fill: var(--gray-dark);
}

.light-blue {
  fill: var(--light-blue);
}
